.thecards {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;          /* ensure horizontal centering */
  /*margin-top: 0; */
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .thecards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.nazad {
  position: absolute;
  left: 100px;
  top: 140px;
  background-color: #10b981;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.nazad:hover {
  background-color: #059669;
}

.audio-container1 {
  position: relative;
  display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
  width: 100%;              /* full width */
}

.audioplayer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #bbf7d0, #93c5fd);
  width: 350px;
  height: 220px;
  border-radius: 30px;
  margin: 10px;
}

.ime1{
  padding-bottom: 15px;
  color:white;
  opacity: 0.8;
}

/* WhiteNoise.css */
.controls1 {

  opacity: 0.65;      /* makes the controls slightly transparent */
  background: rgba(255, 255, 255, 0.2); /* semi-transparent background if supported */
  border-radius: 40px; /* optional rounded edges */
}
.nazad1 {
  opacity: 0.8;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.9rem;
  background-color: #10b981;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.nazad1:hover {
  background-color: #059669;
}
